# Declare files that always have LF line endings on checkout
* text eol=lf
# Denote all files that are truly binary and should not be modified
*.bin binary
*.bmp binary
*.ttf binary
*.gz binary
*.png binary
rk3588_spl_loader_v1.08.111.bin filter=lfs diff=lfs merge=lfs -text
